
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="form-group row container custom-box">
    @Html.ActionLink("Books Categories", "BooksCategory", "Library", null, new { @class = "btn btn-success" })
</div>
<div class="form-group row container custom-box">
    @Html.ActionLink("Register Books", "RegisterBook", "Library", null, new { @class = "btn btn-success" })
</div>

<div class="form-group row container custom-box">
    @Html.ActionLink("Book Search", "SearchBook", "Library", null, new { @class = "btn btn-success" })
</div>

