
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="form-group row container custom-box">
    @Html.ActionLink("Books Categories", "AddCategory", "Library", null, new { @class = "btn btn-success" })
</div>

