@model BMS.BusinessLayer.Magazine.Models.MagazineContent
@{
    ViewData["Title"] = "_MagazineCard";
}

<div class="card-Magazine" >
    <a href='@Url.Action("Details", "Magazine", new {Id = Model.ContentId, mid= Model.MagazineId})' class="magazin-card-link">
        <div class="card-img">
            <img class="center" style="max-height: 175px;" src="@Url.Action("GetImage", new {filename = $"{Model.FolderName}/{Model.MainImage}", section = "magazine"})" alt="...">
        </div>
        <div class="card-body magazin-card-body">
            <h5 class="card-title">@Html.DisplayFor(m => m.Heading)</h5>
            <div class="magazin-card-author">By: @Model.AuthoredBy </div>
            </div>
    </a>
</div>
