@model List<BMS_dotnet_WebApplication.Models.MagazineVM.MagazineIndexVM>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

@foreach (var magazine in Model)
{
    <div class="card-" >

        <a href='@Url.Action("CurrentEdition", "Magazine", new {Id=magazine.MagazineId})'>
            <img src="@Url.Action("GetImage", new {filename = magazine.CurrentEditionImage, section = "magazine"})" alt="...">
        </a>
    </div>
}
