@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<img src="@Url.Action("GetImage",new {filename = "booksimg/Book1.jpg"  })" class="card-img-top" , style=" max-height: 200px; height: auto" alt="...">